* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: oxanium, sans-serif;
}

.navDiv {
  padding-bottom: 1px;
}

.navbar-brand{
  color: #7d38fc;
}

.navbar-brand:hover{
  transition: all 2s;
  color: #000000;
}

.nav-item .nav-link {
  border-bottom: 1px solid #7b00ff;
  padding: 8px;
  color: #000000;
  font-weight: 200;
  transition: all 0.5s;
}

.nav-item .nav-link:hover {
  border-bottom: 2px solid #c65900;
  color: #eaf6a5;
  background-color: #a260ff;
}

body {
  background-color: #c4e0fb;
}

header {
  background: url();
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.headerHead {
  width: 80%;
  font-size: 28px;
}

.headerHead span {
  color: #fa9200;
}

.headerMulearnSection {
  border: 3px solid #6c00fa;
  border-radius: 10px;
}

.headerMulogo {
  width: 25%;
}

.card {
  cursor: pointer;
  transition: all 0.5s;
}

.card:hover {
  scale: 1.3;
}

.card:hover img {
  transition: all 0.5s;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px #00000080;
}

.card .card-body .card-title:hover {
  transition: all 1s;
  color: #6c00fa !important;
}

.hero-button-1,
.hero-button-2 {
  border: none;
  display: inline;
  transition: all 1s, box-shadow 0.3s;
  border-radius: 5px;
}

.hero-button-1 {
  background-color: transparent;
  border: 1px solid green;
  color: green;
}

.hero-button-2 {
  background-color: green;
  color: white;
}

.button-sec:hover .hero-button-1 {
  background-color: green;
  color: white;
  border-radius: 5px;
}

.button-sec:hover .hero-button-2 {
  background-color: transparent;
  border: 1px solid green;
  color: green;
  border-radius: 5px;
}

.hero-button-1:hover,
.hero-button-2:hover {
  box-shadow: -3px -3px 5px #c4e0fb, 0 0 5px #000;
  scale: 1.05;
}

.headerMulearnSection:hover {
  transition: all 1s;
  scale: 1.05;
}

.featureItem {
  background-color: #80008040;
  border-radius: 5px;
  margin: 8px;
}

.featureItem:hover img {
  transition: all 1.5s;
  scale: 1.4;
}

.featureButton {
  border: none;
  background-color: transparent;
  width: 100%;
}

.featureImg {
  width: 70px;
}

.accordion-hr {
  width: 75%;
  margin: 16px auto;
  border: 2px solid #00000084;
  border-radius: 5px;
}

#alertDiv {
  display: none;
  position: fixed;
  bottom: -20px;
  z-index: 2;
  width: 95%;
  transition: all 1s;
}

#alertDiv #closeAlert {
  float: right;
}

#form {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  display: none;
  background-color: #f9f9f9e6;
  padding: 20px;
}

button {
  margin: 10px 0;
  display: block;
}

input {
  display: inline;
  max-width: 40%;
  margin: 5px;
}

.task-item {
  background-color: #acff2f72;
  padding: 10px;
}

@media (min-width: 768px) {
  .headerHead {
    font-size: 40px;
  }
}
