* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: oxanium, sans-serif;
}

.navbar {
  z-index: 1;
}

.offcanvas {
  min-width: 100%;
}

#dataDivContainer {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 200vh;
  padding: 10px 0;
  z-index: 2;
  background-color: #3a3838;
}

#dataDivContainer .header {
  position: sticky;
  top: 0;
  background-color: #2d2d2d;
  border-bottom: 1px solid #727171;
}

#dataDivContainer .header button {
  transition: all 0.8s;
  border: 0;
  background-color: #f96767;
  color: #d5f3ac;
  padding: 4px 24px;
  margin: 15px 20px;
  border-radius: 5px;
}

#dataDivContainer .header button:hover {
  background-color: #fb2929;
}

#dataDiv {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

#alertDiv {
  display: none;
  z-index: 2;
  width: 100%;
  height: fit-content;
  transition: all 0.5s;
  background-color: #3a3838;
  padding: 10px;
  position: fixed;
  bottom: 15px;
  border-radius: 5px;
  font-size: small;
  color: #d5f3ac;
}

#alertDiv button {
  float: right;
  border: 0;
  padding: 2px 4px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  margin: 16px;
  background-color: red;
  color: white;
  transition: all 1s;
}
#alertDiv p {
  text-transform: capitalize;
}
#alertDiv button:hover {
  background-color: #fb2929;
  box-shadow: 1px 1px 3px #737373;
}

.task-item {
  background-color: #2d2d2d;
  color: #fff;
  padding: 16px;
  margin: 16px 0;
  border-radius: 5px;
}

.task-item .title {
  font-size: larger;
  font-weight: 600;
  display: inline;
}

.task-item .ig {
  display: inline;
  background-color: #ff9900;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 8px;
  font-size: 10px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}

.task-item .hashtag {
  background-color: #ffffff0e;
  width: fit-content;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: small;
  margin: 16px 0;
}

.task-item .karma {
  font-size: x-large;
  float: right;
  background-color: #4b320d;
  border-radius: 10%;
  padding: 16px;
}

.totalPeopleCurrentlyTracking {
  background-color: #413959;
}

.totalPeopleCompleted {
  background-color: #365139;
}

.totalPeopleCurrentlyTracking,
.totalPeopleCompleted {
  padding: 2px 20px 2px 0;
  border-radius: 30px 5px 5px 30px;
}

.task-item .totalPeopleCurrentlyTracking,
.task-item .totalPeopleCompleted {
  display: inline;
  margin: 0 20px;
}

.taskTrackedIcon,
.trackTaskIcon,
.markAsCompleteIcon,
.taskCompletedIcon,
.deleteIcon {
  width: 20px;
  height: 20px;
}

.task-item .totalPeopleCurrentlyTracking .txt,
.task-item .totalPeopleCompleted .txt {
  font-size: 10px;
}

.task-item button {
  float: right;
  bottom: 0;
  background: none;
  border: 0;
  margin: 0 4px;
}

.task-item button img {
  width: 40px;
  height: auto;
}

form input,
select,
textarea {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 80%;
}

form button {
  transition: all 0.5s;
  border: 0;
  background-color: green;
  color: wheat;
  font-size: 24px;
  display: block;
  margin: 10px auto;
  padding: 5px 15%;
  border-radius: 5px;
}

form button:hover {
  background-color: #016401;
  color: #fbfbfb;
}

@media (min-width: 764px) {
  form input,
  select,
  textarea {
    width: 45%;
    display: inline;
    margin: 10px;
  }
}
