* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: oxanium, sans-serif;
}

.navDiv {
  padding-bottom: 1px;
}

.navbar-brand {
  color: #a882ee;
  font-weight: 100;
}

.navbar-brand:hover {
  transition: all 2s;
  color: #9a9a9a;
}

.nav-item .nav-link {
  border-bottom: 1px solid #00ffff53;
  padding: 8px;
  color: #fff;
  font-weight: 200;
}

.nav-item .nav-link:hover {
  transition: all 1s, font-weight 0.3s;
  font-weight: 500;
  border-bottom: 2px solid #ffb700;
  color: #eaf6a5;
  background-color: #353434;
}

.dashboard .warning:hover {
  opacity: 0.7;
  cursor: pointer;
}

.dashboardTitle {
  animation: dashboardTitle 1.5s ease forwards;
}

@keyframes dashboardTitle {
  0% {
    width: 1px;
    overflow: hidden;
  }

  50% {
    width: 50px;
    overflow: hidden;
  }

  99% {
    width: 90%;
    overflow: hidden;
  }

  100% {
    width: fit-content;
    overflow: hidden;
  }
}

.dashboard .profilePic {
  background-color: #4a4a4a7a;
  border-radius: 0 15px;
}

.dashboard .userId {
  text-align: center;
  font-size: 10px;
  margin: 8px;
  text-transform: uppercase;
}

.nameGroup {
  width: fit-content;
  margin: 24px auto;
}

.nameGroup .name {
  font-size: 32px;
  font-weight: 200;
  color: #fadd98;
  text-align: center;
  margin: 0;
  padding: 0;
}

.userStats {
  background:linear-gradient(#31313114 20%, #2a4043);
  padding: 20px 20px 0 20px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.userStatsItem {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userStatsItem img {
  width: 50%;
}

.userStatsItem p {
  font-size: 30px;
  font-weight: 200;
  margin: 5px 0;
}

.profileHr {
  border-bottom: 3px double #00ffd0;
  border-radius: 5px;
}

.nameGroup .username {
  font-size: small;
  font-weight: 400;
  color: #797777;
  text-align: right;
  margin: 0;
  padding: 0;
}

.dashboard-button {
  border-bottom: 1px solid #ffffff95;
  border-radius: 0;
  text-align: left;
  color: #fafafa;
  transition: all 0.4s;
  font-weight: 200;
  font-size: larger;
}

.dashboard-button:hover {
  border-bottom: 1px groove #fd9800;
  border-style: groove;
  color: #c4a5f6;
  background-color: #313131;
}

.footer:hover p{
  transition: all 0.5s;
  opacity: 1;
  color: wheat;
}